<header class="fixed top-6 -translate-x-1/2 left-1/2 lg:right-6 lg:left-auto lg:translate-x-0 z-50 bg-white/90 dark:bg-slate-800/90 px-3 py-2 lg:px-6 lg:py-3 backdrop-blur-md border-2 border-gray-300 dark:border-gray-600 shadow-lg">
	<nav class="flex items-center gap-2 lg:gap-6">
	    <div class="flex items-center gap-2 lg:gap-4">
            <a href="#hero" class="text-xs md:text-base text-gray-700 dark:text-gray-200 hover:text-indigo-600 hover:scale-105 dark:hover:text-indigo-400 transition-colors duration-200 font-medium">MiPortafolio</a>
		</div>
		<a href="#experience" class="text-xs md:text-base text-gray-700 dark:text-gray-200 hover:text-indigo-600 hover:scale-105 dark:hover:text-indigo-400 transition-colors duration-200 font-medium">Experiencia</a>
		<a href="#skills" class="text-xs md:text-base text-gray-700 dark:text-gray-200 hover:text-indigo-600 hover:scale-105 dark:hover:text-indigo-400 transition-colors duration-200 font-medium">Habilidades</a>
		<a href="#projects" class="text-xs md:text-base text-gray-700 dark:text-gray-200 hover:text-indigo-600 hover:scale-105 dark:hover:text-indigo-400 transition-colors duration-200 font-medium">Proyectos</a>
	</nav>
</header>
