<header class="fixed right-8 top-8 z-50 flex items-center justify-between rounded-full bg-black/30 px-6 py-3 backdrop-blur-md">
	<div class="flex items-center gap-6">
		<a href="#" class="text-white-700 hover:text-blue-500">Inicio</a>
		<a href="#about" class="text-white-700 hover:text-blue-500">Sobre mí</a>
		<a href="#projects" class="text-white-700 hover:text-blue-500">Proyectos</a>
		<a href="#contact" class="text-white-700 hover:text-blue-500">Contacto</a>
	</div>
</header>