---
import Card from "../components/Card.astro"
import Profile from "@/assets/profile.webp"

const description = `
  FullStack Developer con más de 3 años de experiencia en CRM, ERP y eCommerce. Especializado en ReactJS, Redux y
  Laravel, aplicando TDD y microservicios para garantizar escalabilidad, mantenibilidad y calidad de software. He
  optimizado procesos logísticos, reduciendo en un 90 % las horas operativas, y mejorado tiempos de respuesta al cliente
  mediante integraciones automatizadas. Enfocado en entregar soluciones que combinan rendimiento técnico y valor directo
  para el negocio.
`
---

<section id="profile">
	<div class="grid grid-cols-1 gap-8 md:grid-cols-3 lg:grid-cols-3">
		<div class="col-span-3 flex flex-col justify-center items-center border bg-indigo-950 border-green-800 rounded-xl p-4 shadow-md">
			<h2 class="text-5xl font-semibold mb-2">Ricardo's Portfolio 👨‍💻</h2>

			<div class="flex justify-center items-center">
				{Profile.src && (
					<img class="w-1/4 aspect-square object-cover rounded-full mx-3 flex-shrink-0" src={Profile.src} alt={"Ricardo's Portfolio 👨‍💻"} />
				)}
				<p class="text-shadow-white" >{description}</p>
			</div>
		</div>
		<div class="col-span-3 flex justify-center md:justify-start lg:justify-start">
		</div>
	</div>
</section>